[submodule "riscv-tests"]
	path = riscv-tests
	url = https://github.com/riscv/riscv-tests.git
	branch = master
[submodule "riscv-isa-sim"]
	path = riscv-isa-sim
	url = https://github.com/riscv/riscv-isa-sim.git
	branch = master
[submodule "buildroot"]
	path = buildroot
	url = git@iis-git.ee.ethz.ch/chency/theses/pytorch-hero/buildroot.git
[submodule "vitetris"]
	path = vitetris
	url = https://github.com/pulp-platform/vitetris.git
	ignore = dirty
[submodule "u-boot"]
	path = u-boot
	url = git@iis-git.ee.ethz.ch/chency/theses/pytorch-hero/u-boot.git
[submodule "opensbi"]
	path = opensbi
	url = git@iis-git.ee.ethz.ch/chency/theses/pytorch-hero/opensbi.git
